{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 120,
  "overrides": [
    {
      "files": "src\\app\\layout\\pages\\ro-calculator\\jobs\\_aspd-table.ts",
      "options": {
        "printWidth": 220
      }
    },
    {
      "files": "src\\app\\layout\\pages\\ro-calculator\\constants\\enchant-table.ts",
      "options": {
        "printWidth": 200
      }
    },
    {
      "files": "src\\app\\layout\\pages\\ro-calculator\\constants\\element-mapper.ts",
      "options": {
        "printWidth": 200
      }
    }
  ]
}