{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "printWidth": 120,
  "overrides": [
    {
      "files": "src\\app\\layout\\pages\\ro-calculator\\jobs\\_aspd-table.ts",
      "options": {
        "printWidth": 200
      }
    }
  ]
}