<div class="grid grid-nogutter">
  <div class="col-12 grid grid-nogutter">
    <div class="col-6">
      <p-select
        [autoDisplayFirst]="false"
        [resetFilterOnHide]="true"
        [options]="itemList"
        [filter]="true"
        filterBy="label"
        scrollHeight="350px"
        [(ngModel)]="itemId"
        [showClear]="true"
        (onChange)="onSelectItem('itemId', $event.value)"
        (onClear)="onClearItem()"
        [placeholder]="placeholder"
      >
        <ng-template let-item pTemplate="selectedItem">
          <div class="flex gap-1 item_template" *ngIf="itemId">
            <img src="assets/demo/images/items/{{ item.value }}.png" alt="" class="item_img" />
            <div>{{ item.label }}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class="flex gap-1">
            <img src="assets/demo/images/items/{{ item.value }}.png" alt="" style="width: 19px" />
            <div>{{ item.label }}</div>
          </div>
        </ng-template>
      </p-select>
    </div>
    <div class="col-2 refine-list">
      <p-select [options]="refineList" [(ngModel)]="itemRefine" scrollHeight="350px" [disabled]="!itemId" (onChange)="onSelectItem('itemRefine', itemId, $event.value)">
        <ng-template let-item pTemplate="selectedItem">
          <div class="flex gap-1">
            <div>{{ item.label > 0 ? '+ ' : '' }} {{ item.label || 0 }}</div>
          </div>
        </ng-template>
      </p-select>
    </div>
    <div class="col-4">
      <p-cascadeSelect
        [(ngModel)]="optionValue"
        [disabled]="!itemId"
        [options]="optionList"
        optionValue="value"
        optionGroupLabel="label"
        optionLabel="label"
        [optionGroupChildren]="['children', 'children']"
        placeholder="Options"
        [showClear]="true"
        (onChange)="onOptionChange($event)"
        (onClear)="onOptionChange($event)"
      ></p-cascadeSelect>
    </div>
  </div>
</div>
