<div class="flex align-items-center status_input">
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon" style="width: 32px">{{ label }}</span>
    <p-dropdown
      [disabled]="disabled"
      inputId="{{ label }}"
      [autoDisplayFirst]="false"
      [options]="dropdownList"
      [filter]="true"
      filterBy="label"
      scrollHeight="350px"
      [resetFilterOnHide]="true"
      [(ngModel)]="value"
      (onChange)="onBaseStatusChange()"
      emptyFilterMessage=""
      dropdownIcon=""
    >
      <ng-template pTemplate="filtericon"> </ng-template>
    </p-dropdown>
  </div>
  <span *ngIf="badgeSeverity === 'info'" class="_font-medium text-lg text-cyan-300 mr-1" style="min-width: 35px">+{{ extraValue }}</span>
  <span *ngIf="badgeSeverity !== 'info'" class="_font-medium text-lg text-yellow-400" style="min-width: 35px">+{{ extraValue }}</span>

  <!-- <p-badge value="+{{ extraValue }}" size="large" severity="{{ badgeSeverity }}"></p-badge> -->
</div>
