:host ::ng-deep .json_display pre {
  font-weight: 400 !important;
}

:host ::ng-deep .json_display .number-line {
  color: #adadaf !important;
}

:host ::ng-deep .json_display .string {
  color: #95c602 !important;
}

:host ::ng-deep .json_display .number {
  color: #f2b619 !important;
}

:host ::ng-deep .json_display .boolean {
  color: #0097f1 !important;
}

:host ::ng-deep .json_display .null {
  color: #727990 !important;
}

:host ::ng-deep .json_display .key {
  color: #fff !important;
}

.p-inputgroup p-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-inputgroup p-dropdown .p-dropdown-filter {
  width: 100%;
}

:host ::ng-deep .p-dropdown-items-wrapper,
:host ::ng-deep .p-multiselect-items-wrapper {
  overscroll-behavior: none;
}

:host ::ng-deep .p-accordion-header-link {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

:host ::ng-deep .consumable .p-accordion-content {
  padding: 0;
}

:host ::ng-deep .consumable p-selectbutton {
  width: 100%;
}

:host ::ng-deep .column_list p-listbox .p-listbox-list {
  columns: 2;
  padding: 0;
}

:host ::ng-deep .battle_summary .p-fieldset-content {
  padding-top: 0;
  padding-bottom: 0;
}

/* :host ::ng-deep .column_list p-listbox .p-listbox-item {
  padding: 0.5rem 0rem;
} */

.loading_block {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

:host ::ng-deep .select_skill .p-accordion-content {
  padding: 0;
}

.item_template {
  position: relative;
  /* height: 1.2rem; */
}

.item_img {
  position: absolute;
  top: -3px;
  left: -4px;
  height: 25px;
}

.item_template div {
  margin-left: 24px;
}

.text_ellips {
  height: 19px;
  overflow: hidden;
  white-space: nowrap;
}

.text_ellips_no_height {
  overflow: hidden;
  white-space: nowrap;
}

.text_group_ellips {
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
}

:host ::ng-deep .select_skill p-selectbutton {
  width: 40%;
}

:host ::ng-deep .select_skill .p-tag-value {
  font-size: 1rem;
}

:host ::ng-deep .damage_table .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.25rem;
}

:host ::ng-deep .damage_table .p-datatable .p-datatable-thead > tr > th {
  padding: 0.25rem;
}

:host ::ng-deep .damage_table .p-datatable .p-datatable-header {
  padding: 0.25rem;
}

.battle_row_health {
  color: var(--red-300);
  /* background-color: var(--surface-0); */
  background-color: #121212;
  font-weight: 400;
}

.summary_stat_atk {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--orange-300);
}
.summary_stat_atk2 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--orange-200);
}

.summary_stat_matk {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--blue-300);
}
.summary_stat_matk2 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--blue-200);
}

.summary_stat_yellow {
  background-color: #121212;
  color: var(--yellow-300);
}

.summary_stat_def {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--purple-200);
}
.summary_stat_def2 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--purple-100);
}

.summary_value {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--blue-300);
}

.summary_damage {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--teal-300);
}

.summary_chance {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--teal-100);
}

.summary_chance_hilight {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--orange-300);
}

.summary_compare {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--yellow-200);
}

.summary_highlight {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--orange-400);
}

.skill_debuff {
  color: var(--red-300);
}

.color_primary {
  background: var(--primary-color) !important;
  color: var(--primary-color-text) !important;
}

.color_highlight {
  background: var(--highlight-bg) !important;
  color: var(--highlight-text-color) !important;
}

.compare_greater {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--green-400);
}

.compare_lower {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--red-400);
}

.summary_monster_value {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--red-300);
}

.monster_hilight_label {
  background-color: #121212;
  color: var(--red-500);
  width: 75px;
}

.skill_hilight_label {
  background-color: #121212;
  color: var(--yellow-500);
  width: 60px;
}

.dropdown_monster_group_label {
  background-color: var(--green-900);
  color: white;
}

.img_monster {
  background-color: white;
  /* max-width: 7rem; */
  /* width: 7rem; */
  /* max-height: 7rem;
  height: 100%; */
  width: 95%;
}

.border_default {
  border: var(--border-radius) solid var(--surface-border);
}

:host ::ng-deep .item-position-weaponList,
:host ::ng-deep .item-position-weaponCardList,
:host ::ng-deep .item_label_weapon_main .p-dropdown-label,
:host ::ng-deep .item_label_weapon_main .p-cascadeselect-label,
:host ::ng-deep .item_label_weapon,
:host ::ng-deep .item_label_weaponCard1,
:host ::ng-deep .item_label_weaponCard2,
:host ::ng-deep .item_label_weaponCard3,
:host ::ng-deep .item_label_weaponCard4,
:host ::ng-deep .item_label_ammo,
:host ::ng-deep .item_label_weaponEnchant1,
:host ::ng-deep .item_label_weaponEnchant2,
:host ::ng-deep .item_label_weaponEnchant3 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--pink-200);
}

:host ::ng-deep .item_label_weapon_main .item_label_element_converter .p-inputtext {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--yellow-300);
}

:host ::ng-deep .item_label_leftWeapon_main .p-dropdown-label,
:host ::ng-deep .item_label_leftWeapon_main .p-cascadeselect-label,
:host ::ng-deep .item_label_leftWeapon,
:host ::ng-deep .item_label_leftWeaponCard1,
:host ::ng-deep .item_label_leftWeaponCard2,
:host ::ng-deep .item_label_leftWeaponCard3,
:host ::ng-deep .item_label_leftWeaponCard4,
:host ::ng-deep .item_label_leftWeaponEnchant1,
:host ::ng-deep .item_label_leftWeaponEnchant2,
:host ::ng-deep .item_label_leftWeaponEnchant3 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--pink-200);
}

:host ::ng-deep .item-position-shieldList,
:host ::ng-deep .item-position-shieldCardList,
:host ::ng-deep .item_label_shield_main .p-dropdown-label,
:host ::ng-deep .item_label_shield_main .p-cascadeselect-label,
:host ::ng-deep .item_label_shield,
:host ::ng-deep .item_label_shieldCard,
:host ::ng-deep .item_label_shieldEnchant1,
:host ::ng-deep .item_label_shieldEnchant2,
:host ::ng-deep .item_label_shieldEnchant3 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--pink-200);
}

:host ::ng-deep .item-position-headUpperList,
:host ::ng-deep .item-position-headMiddleList,
:host ::ng-deep .item-position-headLowerList,
:host ::ng-deep .item-position-headCardList,
:host ::ng-deep .item_label_head .p-dropdown-label,
:host ::ng-deep .item_label_head .p-cascadeselect-label,
:host ::ng-deep .item_label_headUpper,
:host ::ng-deep .item_label_headUpperCard,
:host ::ng-deep .item_label_headUpperEnchant1,
:host ::ng-deep .item_label_headUpperEnchant2,
:host ::ng-deep .item_label_headUpperEnchant3,
:host ::ng-deep .item_label_headMiddle,
:host ::ng-deep .item_label_headMiddleCard,
:host ::ng-deep .item_label_headMiddleEnchant1,
:host ::ng-deep .item_label_headMiddleEnchant2,
:host ::ng-deep .item_label_headMiddleEnchant3,
:host ::ng-deep .item_label_headLower,
:host ::ng-deep .item_label_headLowerEnchant1,
:host ::ng-deep .item_label_headLowerEnchant2,
:host ::ng-deep .item_label_headLowerEnchant3 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--blue-200);
}

:host ::ng-deep .item-position-armorList,
:host ::ng-deep .item-position-armorCardList,
:host ::ng-deep .item-position-garmentList,
:host ::ng-deep .item-position-garmentCardList,
:host ::ng-deep .item-position-bootList,
:host ::ng-deep .item-position-bootCardList,
:host ::ng-deep .item_label_def .p-dropdown-label,
:host ::ng-deep .item_label_def .p-cascadeselect-label,
:host ::ng-deep .item_label_armor,
:host ::ng-deep .item_label_armorCard,
:host ::ng-deep .item_label_armorEnchant1,
:host ::ng-deep .item_label_armorEnchant2,
:host ::ng-deep .item_label_armorEnchant3,
:host ::ng-deep .item_label_garment,
:host ::ng-deep .item_label_garmentCard,
:host ::ng-deep .item_label_garmentEnchant1,
:host ::ng-deep .item_label_garmentEnchant2,
:host ::ng-deep .item_label_garmentEnchant3,
:host ::ng-deep .item_label_boot,
:host ::ng-deep .item_label_bootCard,
:host ::ng-deep .item_label_bootEnchant1,
:host ::ng-deep .item_label_bootEnchant2,
:host ::ng-deep .item_label_bootEnchant3 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--red-200);
}

:host ::ng-deep .item-position-accList,
:host ::ng-deep .item-position-accCardList,
:host ::ng-deep .item_label_acc .p-dropdown-label,
:host ::ng-deep .item_label_acc .p-cascadeselect-label,
.item_float_label,
:host ::ng-deep .item_label_accLeft,
:host ::ng-deep .item_label_accLeftCard,
:host ::ng-deep .item_label_accLeftEnchant1,
:host ::ng-deep .item_label_accLeftEnchant2,
:host ::ng-deep .item_label_accLeftEnchant3,
:host ::ng-deep .item_label_accRight,
:host ::ng-deep .item_label_accRightCard,
:host ::ng-deep .item_label_accRightEnchant1,
:host ::ng-deep .item_label_accRightEnchant2,
:host ::ng-deep .item_label_accRightEnchant3 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--purple-200);
}

:host ::ng-deep .item-position-petList,
:host ::ng-deep .item_label_pet .p-dropdown-label,
:host ::ng-deep .item_label_pet .p-cascadeselect-label {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--orange-200);
}

:host ::ng-deep .item-position-costumeList,
:host ::ng-deep .item_label_costume .p-dropdown-label,
:host ::ng-deep .item_label_costume .p-cascadeselect-label,
:host ::ng-deep .item_label_costumeUpper,
:host ::ng-deep .item_label_costumeMiddle,
:host ::ng-deep .item_label_costumeLower,
:host ::ng-deep .item_label_costumeGarment,
:host ::ng-deep .item_label_costumeEnchantUpper,
:host ::ng-deep .item_label_costumeEnchantMiddle,
:host ::ng-deep .item_label_costumeEnchantLower,
:host ::ng-deep .item_label_costumeEnchantGarment,
:host ::ng-deep .item_label_costumeEnchantGarment2,
:host ::ng-deep .item_label_costumeEnchantGarment4 {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--yellow-400);
}

:host ::ng-deep .item-position-shadowWeaponList,
:host ::ng-deep .item-position-shadowArmorList,
:host ::ng-deep .item-position-shadowShieldList,
:host ::ng-deep .item-position-shadowBootList,
:host ::ng-deep .item-position-shadowEarringList,
:host ::ng-deep .item-position-shadowPendantList,
:host ::ng-deep .item_label_shadow .p-dropdown-label,
:host ::ng-deep .item_label_shadow .p-cascadeselect-label,
:host ::ng-deep .item_label_shadowWeapon,
:host ::ng-deep .item_label_shadowArmor,
:host ::ng-deep .item_label_shadowShield,
:host ::ng-deep .item_label_shadowBoot,
:host ::ng-deep .item_label_shadowEarring,
:host ::ng-deep .item_label_shadowPendant {
  /* background-color: var(--surface-0); */
  background-color: #121212;
  color: var(--green-200);
}

.item_label_shadow .refine-list {
  min-width: 70px;
}

:host ::ng-deep .hp-sp-section .p-cascadeselect-label {
  padding-top: 0;
  padding-bottom: 0;
}

:host ::ng-deep .hp-sp-section .p-cascadeselect-clearable {
  width: inherit;
}

.hp-sp-section .summary_stat_yellow {
  height: fit-content;
}

:host ::ng-deep .item_label_compare .p-dropdown-label,
:host ::ng-deep .item_label_compare .p-cascadeselect-label,
:host ::ng-deep .item_label_compare .p-multiselect-label,
:host ::ng-deep .item_label_compare .p-listbox-item {
  /* background-color: var(--surface-50); */
  background-color: #2a2a2a;
  color: var(--yellow-300);
}

.vs_sign {
  font-size: 0.75rem;
}

:host ::ng-deep .divider .p-divider-horizontal {
  margin: 0;
  padding: 0;
}

:host ::ng-deep .p-accordion-tab .p-accordion-header > a {
  font-weight: 800;
  color: var(--highlight-text-color);
  background: var(--highlight-bg);
  /* color: black;
  background: var(--indigo-300); */
}

:host ::ng-deep .p-accordion-tab .p-highlight > a,
:host ::ng-deep .p-accordion-tab .p-accordion-header :hover {
  color: var(--primary-color-text) !important;
  background: var(--primary-color) !important;
  /* color: white !important;
  background: var(--indigo-800) !important; */
}

.job_img {
  height: fit-content;
}

:host ::ng-deep .dropdown-joblist .p-dropdown {
  height: 100%;
}
:host ::ng-deep .dropdown-joblist .p-dropdown .p-dropdown-label {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

:host ::ng-deep .skill-selection .p-cascadeselect-sublist {
  left: -70% !important;
  min-width: 70%;
}

:host ::ng-deep .skill-selection .p-inputgroup .p-cascadeselect {
  width: 100%;
}

.lv200 {
  color: var(--yellow-200);
}
