pre {
  font-weight: 400;

  .number-line {
    color: #adadaf;
  }
  .string {
    color: #95c602;
  }
  .number {
    color: #f2b619;
  }
  .boolean {
    color: #0097f1;
  }
  .null {
    color: #727990;
  }
  .key {
    color: #fff;
  }
}

.p-inputgroup p-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-inputgroup p-dropdown .p-dropdown-filter {
  width: 100%;
}

:host ::ng-deep .p-accordion-header-link {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

:host ::ng-deep .consumable .p-accordion-content {
  padding: 0;
}

:host ::ng-deep .consumable p-selectbutton {
  width: 100%;
}

:host ::ng-deep .column_list p-listbox .p-listbox-list {
  columns: 2;
  padding: 0;
}

.text_ellips {
  height: 19px;
  overflow: hidden;
  white-space: nowrap;
}

:host ::ng-deep .select_skill .p-accordion-content {
  padding: 0;
}

.text_group_ellips {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
}

:host ::ng-deep .select_skill p-selectbutton {
  width: 50%;
}

:host ::ng-deep .select_skill .p-tag-value {
  font-size: 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.25rem;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 0.25rem;
}
:host ::ng-deep .p-datatable .p-datatable-header {
  padding: 0.25rem;
}

.battle_row_health {
  color: var(--red-500);
  background-color: var(--surface-0);
  font-weight: bold;
}

.summary_value {
  background-color: var(--surface-0);
  color: var(--blue-500);
}

.summary_damage {
  background-color: var(--surface-0);
  color: var(--teal-300);
}

.summary_highlight {
  background-color: var(--surface-0);
  color: var(--orange-500);
}

.summary_monster_value {
  background-color: var(--surface-0);
  color: var(--red-500);
}

.img_monster {
  background-color: var(--surface-900);
  max-width: 7rem;
  /* width: 7rem; */
  max-height: 7rem;
  height: 100%;
}

.property_Water {
  background-color: #7ba7e1;
  color: white;
}

.property_Earth {
  background-color: #daaf85;
  color: black;
}

.property_Fire {
  background-color: #ff7575;
  color: white;
}

.property_Wind {
  background-color: #cafeb8;
  color: black;
}

.property_Poison {
  background-color: #4bfe78;
  color: black;
}

.property_Holy {
  background-color: #ffffaa;
  color: black;
}

.property_Dark {
  background-color: #a55feb;
  color: white;
}

.property_Ghost {
  background-color: #aaaaaa;
  color: black;
}

.property_Undead {
  background-color: black;
  color: white;
}