<div class="layout-topbar">
  <!-- <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
      </a> -->
  <span>V1.0.0</span>

  <!-- <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button> -->

  <!-- <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button> -->

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }"
  >
    <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->

    <a #survey [hidden]="true" href="{{ env.surveyUrl }}" target="_blank" rel="noreferrer noopener"> </a>
    <button
      class="font-bold p-button-danger p-button-rounded p-button-raised"
      icon="pi pi-exclamation-triangle"
      pButton
      pRipple
      label="Report"
      (click)="survey.click()"
    ></button>
    <button
      class="font-bold p-button-help p-button-rounded p-button-raised"
      icon="pi pi-info-circle"
      pButton
      pRipple
      label="Infomation"
      (click)="showInfoDialog()"
    ></button>
    <button
      class="font-bold p-button-primary p-button-rounded p-button-raised"
      icon="pi pi-heart"
      pButton
      pRipple
      label="Support"
      (click)="showDialog()"
    ></button>
  </div>
  <p-dialog
    header="Support"
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ 'min-width': '300px' }"
  >
    <div class="card flex flex-column align-items-center gap-2 flex-wrap">
      <div>
        <img src="assets/demo/images/others/qr.jpg" alt="QR" style="width: 300px" />
      </div>
      <div class="font-bold" style="background-color: var(--surface-0); color: var(--green-400)">ขอบคุณครับบบบ</div>
      <div>
        <a href="https://web.facebook.com/zfehu.oivgwhy" target="_blank" rel="noreferrer noopener">
          <p-chip label="Tong Aphisit" icon="pi pi-facebook"></p-chip>
        </a>
      </div>
    </div>
  </p-dialog>

  <p-dialog
    header="ข้อมูลเพิ่มเติม"
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
    [(visible)]="visibleInfo"
    [style]="{ width: '50vw' }"
  >
    <div class="card flex flex-column align-items-center gap-2 flex-wrap">
      <ul>
        <li *ngFor="let info of infos">{{ info }}</li>
      </ul>

      <div>
        แจ้งปัญหา IB
        <a href="https://web.facebook.com/zfehu.oivgwhy" target="_blank" rel="noreferrer noopener">
          <p-chip label="Tong Aphisit" icon="pi pi-facebook"></p-chip>
        </a>
      </div>
    </div>
  </p-dialog>
</div>
