/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@use "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
// @use "../node_modules/primeng/resources/primeng.min.css";
@use "../node_modules/primeflex/primeflex.scss";
@use "../node_modules/primeicons/primeicons.css";


.property_Water {
  /* background-color: #7ba7e1; */
  background-color: var(--blue-600) !important;
  color: white !important;
}

.property_Earth {
  /* background-color: #daaf85; */
  background-color: var(--orange-200) !important;
  color: black !important;
}

.property_Fire {
  /* background-color: #ff7575; */
  background-color: var(--red-600) !important;
  color: white !important;
}

.property_Wind {
  /* background-color: #cafeb8; */
  background-color: var(--green-400) !important;
  color: black !important;
}

.property_Poison {
  /* background-color: var(--green-600); */
  background-color: #4bfe78 !important;
  color: black !important;
}

.property_Holy {
  /* background-color: #ffffaa; */
  background-color: var(--yellow-300) !important;
  color: black !important;
}

.property_Dark {
  background-color: #a55feb !important;
  color: white !important;
}

.property_Ghost {
  background-color: #aaaaaa !important;
  color: black !important;
}

.property_Undead {
  background-color: black !important;
  color: white !important;
}